/**/

body {
	background: #fff;
	font-size: 13px;
	font-family: tahoma,calibri,arial;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */	
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.ortala {
	width: 960px;
	margin: 0 auto;
}

#header {
	background: #444;
	height: 40px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
}

#header .logo {
	float: left;
	width: 125px;
	height: 35px;
	margin: 5px 0;
}

#header .logo img {
	width: 125px;
	height: 35px;
}


#header .menu {
	float: left;
	margin-left: 10px;
	text-transform: uppercase;
}

#header .menu li {
	display: inline;
	float: left;
	position: relative;
	padding: 11px 0;
}

#header .menu li ul {
	display: none;
}

#header .menu li:hover {
	background: #4c4c4c;
}

#header .menu li:hover > ul {
	display: block;
}

#header .menu li a {
	color: #fff;
	padding: 13px;
}

#header .menu li ul {
	position: absolute;
	top: 40px;
	border: 1px solid #ddd;
	border-top: none;
	z-index: 9999;
	left: -1px;
}

#header .menu li ul li {
	display: block;
	padding: 0px !important;
}

#header .menu li:hover > ul li a {
	color: #000;
	padding: 10px;
	float: left;
	width: 175px;
}

#header .menu li:hover > ul li {
	position: relative;	
	background: #fff;
}

#header .menu li:hover > ul li:hover {
	background: #f2f2f2;
}

#header .menu li ul li ul {
	position: absolute;
}

#header .ara {
	float: right;
	background: #4c4c4c;
}

#header .ara ul {}

#header .ara ul li {
	
}

#header .ara input {
	padding: 12px;
	border: none;
	background: transparent;
	color: #fff;
}

#header .ara button {
	background: transparent;
	border: none;
	color: #999;
	cursor: pointer;
	padding: 4px;
}

#content {
	margin-top: 50px;
	overflow: hidden;
}

#content .ubaslik {
	font-size: 45px;
	font-weight: normal;
}

#content .ubilgi {
	margin: 10px 0;
	font-size: 16px;
	overflow: hidden;
}

#content .ubilgi img {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
}

#content .ubilgi .yazar {
	line-height: 24px;
	float: left;
	margin-right: 5px;
	border-right: 1px solid #999;
	padding-right: 5px;
}

#content .ubilgi .yazar a {
	color: #39C;
}

#content .ubilgi .yazar a:hover {
	color: #005580;
}

#content .ubilgi .tarih {
	line-height: 24px;
	float: left;
	color: #666;
}

#content  .ualt {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
	margin-bottom: 10px;
}

#content .ualt ul.ss {
	float: left;
	padding: 10px 0;
}

#content .ualt ul.ss li {
	display: inline;
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-right: 10px;
}

#content .ualt ul.ss li a {
	color: #fff;
	padding: 5px;
}

#content .ualt ul.ss li a i {
	font-size: 17px;
	line-height: 25px;
}

#content .ualt ul.ss .fb {
	background: #3d599b;
}
#content .ualt ul.ss .tw {
	background: #00ADE8;
}
#content .ualt ul.ss .gp {
	background: #DD3F34;
}
#content .ualt ul.ss .tm {
	background: #4A6276;
}

#content .ualt .yorum {
	float: right;
	padding: 13.5px 0;
}

#content .ualt .yorum a {
	color: #39C;
}

#content .sol {
	float: left;
	width: 630px;
}

#content .sol .manset {
	overflow: hidden;
}

#content .sol .manset ul.ust {}

#content .sol .manset ul.ust li {
	display: inline;
	float: left;
	width: 302px;
	height: 204px;
	margin-right: 25px;
	margin-bottom: 15px;
	position: relative;
}

#content .sol .manset ul.ust li:last-child {
	margin-right: 0;
}

#content .sol .manset ul .ust li a {
	color: #fff;
}

#content .sol .manset ul.ust li img {
	width: 100%;
	height: 204px;
}

#content .sol .manset ul.ust li .aciklama {
	position: absolute;
	bottom: 0;
	font-size: 20px;
	line-height: 26px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 10px 15px;
	background-image: -moz-linear-gradient(center top , transparent, rgba(29, 29, 29, 0.9));
	width: 100%;
	color: #fff;
}

#content .sol .manset ul.ust li .aciklama a {
	color: #fff;
}

#content .sol .manset ul.ust li .aciklama .baslik {
	padding-bottom: 10px;
	color: #FFF;
	line-height: 26px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	display: block;
}

#content .sol .manset ul.ust li .aciklama .bilgi {
	font-size: 13px;
}

#content .sol .manset ul.ust li .aciklama .bilgi .avatar {
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}

#content .sol .manset ul.alt {
	
}

#content .sol .manset ul.alt li {
	width: 195px;
	margin-right: 22px;
	float: left;
}

#content .sol .manset ul.alt li:last-child {
	margin-right: 0;
}

#content .sol .manset ul.alt li img {
	width: 194px;
	height: 114px;
}

#content .sol .manset ul.alt li .baslik {
	font-size: 15px;
	line-height: 19px;
	margin-top: 10px;
}

#content .sol .manset ul.alt li a .baslik {
	color: #000;
}

#content .sol .manset ul.alt li a .baslik:hover {
	color: #24bbff;
}

#content .sol .manset ul.alt li a:hover > .baslik {
	color: #24bbff;
}

#content .sol .sosyal {
	display: block;
	padding: 12px 0px 8px;
	border-top: 2px solid #FF8A3D;
	border-bottom: 1px solid #EAEAEA;
	overflow: hidden;
	margin-top: 15px;
}

#content .sol .sosyal .takip {
	float: left;
}

#content .sol .sosyal .takip h3 {
	color: #898989;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	line-height: 1;
	margin: 0px;
}

#content .sol .sosyal .takip h4 {
	color: #000;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 15px;
	margin: 0px;
	line-height: 1;
}

#content .sol .sosyal ul.ss, #content .sol .yazilar .yazi .ic .devam ul.ss {
	float: right;
	margin: 0px 0px 0px 28px;
}

#content .sol .sosyal ul.ss li, #content .sol .yazilar .yazi .ic .devam ul.ss li {
	display: inline;
	float: left;
	margin: 0px 18px 0px 0px;
	width: 50px;
	height: 26px;
	text-align: center;
	font-size: 15px;
	border-radius: 2px;
}

#content .sol .sosyal ul.ss li a, #content .sol .yazilar .yazi .ic .devam ul.ss li a {
	color: #fff;
	display: block;
}

#content .sol .sosyal ul.ss li a i, #content .sol .yazilar .yazi .ic .devam ul.ss li a i {
	line-height: 27px;
}

#content .sol .sosyal ul.ss .tw, #content .sol .yazilar .yazi .ic .devam ul.ss .tw {
	background: #00ade8;
}

#content .sol .sosyal ul.ss .fb, #content .sol .yazilar .yazi .ic .devam ul.ss .fb {
	background: #3d599b;
}

#content .sol .sosyal ul.ss .gp, #content .sol .yazilar .yazi .ic .devam ul.ss .gp {
	background: #dd3f34;
}

#content .sol .sosyal ul.ss .yp, #content .sol .yazilar .yazi .ic .devam ul.ss .yp {
	background: #ff0029;	
}

#content .sol .sosyal ul.ss .tm, #content .sol .yazilar .yazi .ic .devam ul.ss .tm {
	background: #4a6276;	
}

#content .sol .yazilar {
	overflow: hidden;
	margin-top: 15px;
}

#content .sol .yazilar .yazi {
	border-bottom: 1px solid #cecece;
	margin-top: 10px;
}

#content .sol .yazilar .yazi .ust {
	font-size: 16px;
	overflow: hidden;
}

#content .sol .yazilar .yazi .ust .baslik {
	font-size: 27px;
	font-weight: normal;
	display: block;
}

#content .sol .yazilar .yazi .ust .baslik a {
	color: #000;
}

#content .sol .yazilar .yazi .ust .baslik a:hover {
	color: #39c;
}

#content .sol .yazilar .yazi .ust .bilgi {
	margin: 10px 0;
	overflow: hidden;
}

#content .sol .yazilar .yazi .ust .bilgi .yazar {
	line-height: 24px;
	float: left;
	margin-right: 5px;
	border-right: 1px solid #999;
	padding-right: 5px;
}

#content .sol .yazilar .yazi .ust .bilgi .yazar img {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
}

#content .sol .yazilar .yazi .ust .bilgi .yazar a {
	color: #39c;
}

#content .sol .yazilar .yazi .ust .bilgi .yazar a:hover {
	color: #005580;
}

#content .sol .yazilar .yazi .ust .bilgi .tarih {
	line-height: 24px;
	float: left;
	color: #666;
}

#content .sol .yazilar .yazi .ic {
}

#content .sol .yazilar .yazi .ic .resim {
	margin-bottom: 10px;
}

#content .sol .yazilar .yazi .ic .resim img {
	width: 100%;
}

#content .sol .yazilar .yazi .ic p {
	font-size: 16.5px;
	line-height: 1.5;
}

#content .sol .yazilar .yazi .ic .devam {
	text-transform: uppercase;
	background: #f4f4f4;
	padding: 5px;
	display: block;
	margin: 10px 0;
	overflow: hidden;
}

#content .sol .yazilar .yazi .ic .devam .sool {
	float: left;
	line-height: 25px;
}

#content .sol .yazilar .yazi .ic .devam a {
	color: #39C;
}

#content .sol .yazilar .yazi .ic .devam a i {
	font-size: 17px;
}

#content .sol .yazilar .yazi .ic .devam a:hover > strong {
	color: #005580;
}

#content .sol .yazim {}

#content .sol .yazim .resim {
	margin-bottom: 10px;
}

#content .sol .yazim .resim img {
	width: 100%;
}

#content .sol .yazim p {
	margin-bottom: 10px;
	font-size: 16px;
	color: #4A4A4A;
	line-height: 24px;
}

#content .sol .yazim p a {
	color: #39C;
}

#content .sol .yazim p a:hover {
	color: #005580;
}

#content .sol .yazim blockquote {
font-size: 21px;
line-height: 25px;
color: #777;
font-style: italic;
border-top: 4px solid #69CA14;
padding-top: 10px;
margin: 1em 40px;
}

#content .sol .yazim blockquote:before {
	content: "''";
}

#content .sol .yazim blockquote:after {
	content: "''";	
}

#content .sol .kaynak {
	float: left;
	border-left: 3px solid #00C14D;
	padding: 0px 5px;
}

#content .sol .kaynak strong {
	text-transform: uppercase;
	font-weight: 400;
	color: #777;
	font-size: 14px;
	font-weight: normal;
}

#content .sol .kaynak a {
	color: #39C;
}

#content .sol .kaynak  a:hover {
	color: #005580;
}

#content .sol .etiket {
	width: 30%;
	float: right;
	overflow: hidden;
	height: 1.2em;
	border-left: 3px solid #FF8A3D;
	line-height: 1.2;
	padding: 0px 5px;
}

#content .sol .etiket:hover {
	overflow: visible;
	height: 100%;
}

#content .sol .etiket strong {
	text-transform: uppercase;
	font-weight: 400;
	color: #777;
	font-size: 14px;
	font-weight: normal;
}

#content .sol .etiket span a {
	color: #39C;
}

#content .sol .etiket span a:hover {
	color: #005580;
}

#content .sol .wp-pagenavi {
	text-align: center;
	margin: 10px 0;
}

#content .sol .wp-pagenavi a {
	background: #444;
	color: #fff;
	padding: 3px 7px;
	border-radius: 3px;
	font-size: 16px;
}

#content .sol .wp-pagenavi .current {
	
}

#content .sag {
	float: right;
	width: 300px;
}

#content .sag .widget {
	margin-bottom: 10px;
	overflow: hidden;
	background: #fff;
}

#content .sag .widget .baslik {
	padding: 5px;
	background: #39C;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

ul.omlet {

}

ul.omlet li {
	display: block;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

ul.omlet li img {
	width: 100%;
}

ul.omlet li .bslk {
	font-size: 17px;
	font-weight: normal;
	color: #333;
}

ul.omlet li a:hover > .bslk {
	color: #39c;
}

ul.omlet li .meta {
	display: block;
	font-size: 11.7px;
	overflow: hidden;
	margin: 10px 0;
}

ul.omlet li .meta .tarih {
	float: left;
	color: #777;
}

ul.omlet li .meta .yorum {
	float: right;
}

ul.omlet li .meta .yorum a {
	color: #39C;
}

#content .sag .widget .reklam {

}

#content .sag .widget .reklam .resim {
	float: left;
	width: 100px;
	height: 75px;
	margin-right: 5px;
}

#content .sag .widget .reklam .resim img {
	width: 100px;
	height: 75px;
}

#content .sag .widget .reklam .rbaslik {
	font-size: 14px;
	color: #36c;
}

#content .sag .widget .reklam .aciklama {
	display: block;
	font-size: 11px;
}

#content .sag .widget .reklam .git {
	float: left;
	color: #4E5665;
	text-shadow: 0px 1px 0px #FFF;
	padding: 2px 10px;
	background: #fff;
	border: 1px solid;
	border-color: #CCC #C5C6C8 #B6B7B9;
	border-radius: 2px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	box-sizing: content-box;
	text-align: center;
	margin: 5px 0;
}

#footer {
	background: #f4f4f4;
	padding: 10px;
	border-top: 2px solid #444;
	overflow: hidden;
}

#footer .kutu {
	float: left;
	width: 300px;
	margin-right: 30px;
}

#footer .kutu .baslik {
	text-transform: capitalize;
	font-size: 16px;
	display: block;
	line-height: 16px;
	margin: 20px 0px 10px;
	color: #666;
}

#footer .kutu:last-child {
	margin-right: 0px;
}

#footer .kutu ul.ss {
	float: left;
}

#footer .kutu ul.ss li {
	display: inline;
	float: left;
	margin: 0px 18px 10px 0px;
	width: 50px;
	height: 26px;
	text-align: center;
	font-size: 15px;
	border-radius: 2px;
}

#footer .kutu ul.ss li a {
	color: #fff;
	display: block;
}

#footer .kutu ul.ss li a i {
	line-height: 27px;
}

#footer .kutu ul.ss .tw {
	background: #00ade8;
}

#footer .kutu ul.ss .fb {
	background: #3d599b;
}

#footer .kutu ul.ss .gp {
	background: #dd3f34;
}

#footer .kutu ul.ss .yp {
	background: #ff0029;	
}

#footer .kutu ul.ss .tm {
	background: #4a6276;	
}

#footer .kutu ul.ss .ins {
	background: #634d42;
}

#footer .kutu ul.ss .pi {
	background: #cb2027;
}

#footer .kutu ul.ss .in {
	background: #0477a3;
}

#footer .kutu ul.uygulama {}

#footer .kutu ul.uygulama li {
	display: inline;
	float: left;
	border-radius: 1px;	
	margin-right: 10px;
}

#footer .kutu ul.uygulama li:last-child{
	margin-right: 0px;
}

#footer .kutu ul.uygulama li a {
	display: block;
	color: #fff;
	padding: 5px;
}

#footer .kutu ul.uygulama li a i {
	font-size: 17px;
	line-height: 15px;
}

#footer .kutu ul.uygulama .android {
	background: #a4c739;
}

#footer .kutu ul.uygulama .apple {
	background: #27a9ff;
}

#footer .kutu ul.uygulama .windows {
	background: #68217a;
}

#footer .kutu form input {
	width: 165px;
	border: 1px solid #ddd;
	padding: 9px;
}

#footer .kutu form .kbtn {
	background: #0B86B5;
	width: auto;
	border: none;
	color: #fff;
	cursor: pointer;
}